.back-to-profile {
    text-align: center;
    padding: 10px;
    background: var(--primary-color);
}

.back-to-profile a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.project-landing-section {
    background-size: cover;
    background-position: center;
    height: 50vh;
    position: relative;
    color: var(--bs-black);
}

.landing-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(17,17,17,1) 0%,rgba(0,0,0,0) 100%);
}

.landing-title {
    font-size: 4em;
    margin-top: 20%;
    opacity: 1;
    color: var(--white-color);
    position: relative;
    z-index: 2;
}

.project-description-section {
    background-color: var(--background-dark-color);
}

.description-title {
    color: var(--white-color);
}

.description-text {
    color: var(--offwhite-color);
    text-align: justify;
    margin-right: 1rem;
    line-height: 2rem;
    font-size: 1.2rem;
}

.side-image {
    max-width: 100%;
    border-radius: 1rem;
    height: auto;
}

.project-details-section {
    background-color: #f9f9f9;
}

.project-list {
    list-style: none;
    padding: 0;
}

.project-list li {
    margin-bottom: 10px;
}

.project-list li:before {
    content: "\2022"; /* Unicode for bullet point character */
    color: var(--bs-black); /* Set the color of the bullet point */
    font-size: 1.2em;
    margin-right: 10px;
}

.details-title {
    color: var(--bs-black);
}

.details-list {
    list-style-type: none;
    padding: 0;
}

.details-list li {
    margin-bottom: 10px;
}